/*   HEADER   */
.header {
    position: sticky;
    top: 0;
    height: 90px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    z-index: 100;
    background-color: white;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 25px 0 25px 32px;
}

.header__nav a {
    margin-right: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}

.header__nav a:hover {
    color: black;
    transition: .3s;
}

/*   HEDAER BUTTON    */
.header__btn {
    margin-right: 20px;
    padding: 12px 25px 12px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}

.header__btn:hover {
    color: black;
    background:  white;
    transition: .5s;
}


/*   SECTION SUB_HEADER    */
.sub__header-item {
    display: flex;
    align-items: center;
}

.sub__header-unit {
    padding: 145px 0 145px 0;
    width: 420px;
    margin:  0px 194px 0 78px;
}

.sub__header-unit h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222222; 
}

.sub__header-unit p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.sub__header-img {
    overflow: hidden;
    height: 544px;
    margin-top: 100px;
    
}

/*   FEATURES    */

.features {
    background-color: #222222;
}

.features__title {
    padding-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.features__subtitle {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.features__item {
    margin-top: 35px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
}

.features__item-box {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 380px;
    background:#FFFFFF; 
}

.features__img {
    padding-top: 45px;
    height: 300px;
    overflow: hidden;
}

.features__text {
    position: relative;
    background:#F2F2F2;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}

.features__text img {
    position: relative;
    top: -30px;
}

.features__text img:hover {
    border-radius: 100%;
    transition: .5s;
}

.features__title-blue {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #0278ED;
}

.features__title-orange {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FF5437;
}

.features__title-yellow {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FF9209;
}

.features__title-pink {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #E738CE;
}

.features__title-aqua {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #00C6DF;
}

.features__title-purple {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #B25DF8;
}

.features__subtext {
    padding: 0 30px 25px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}

/* STATS */

.stats {
    background: #FF5437;
}

.stats__item {
    display: flex;
    justify-content: space-around;
}

.stats__title {
    padding-top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}

.stats__text {
    padding-bottom: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}



/*   TECHNOLOGY   */

.techno__item {
    display: flex;
    justify-content: space-around;
}

.tecnho__unit {
    width: 420px;
}

.techno__title {
    margin-top: 177px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.techno__subtitle {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
}

.techno__text {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.techno__img {
    margin-top: 100px;
    overflow: hidden;
    height: 544px;
}

/*   SPEED    */

.speed {
    
    background: #F2F2F2;
}

/*  DARK  */

.dark {
    background: #222222; 
    color:#FFFFFF;
}

.dark__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark__title {
    padding-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.dark__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.dark__text {
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.dark__img {
    height: 492px;
    overflow: hidden;
}

.dark__line {
    color: #222222; 
    border-top: 2px solid  #E5E5E5;
    margin: 0;
    width: 600px;
}

.dark__mode {
    margin-top: 50px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}

.light {
    margin-right: 40px;
}

.light__icon {
    width: 30px;
    height: 30px;
    fill: white;
}

.light__icon:hover {
    fill: yellow;
}

.hard {
    margin-left: 40px;
    align-items:center
}

.moon {
    width: 30px;
    height: 30px;
    fill: white;
}

.moon:hover {
    fill:blue;
}


.img {
    text-align: center;
}

/*  PRICING  */

.pricing {
    text-align: center;
}

.pricing__title {
    margin: 100px 0 5px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.pricing__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
}

.pricing__text {
    margin: 15px 0 40px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
}

.pricing__item {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around
}

.pricing__unit {
    margin: 0 15px 0 15px;
    background: #F2F2F2;
    border-radius: 20px;
}

.pricing__title-blue {
    padding: 50px 150px 0 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #0278ED;
}

.pricing__blue {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 8px;
    color: #0278ED;
}


.pricing__text-blue {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}


.pricing__btn-blue {
    margin-bottom: 50px;
    padding: 12px 25px;
    border: 2px solid #0278ED;
    background: #0278ED;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.pricing__btn-blue:hover {
    border: 2px solid #0278ED;
    color: #0278ED;
    background:  #F2F2F2;
    transition: 0.3s;
}

.pricing__title-red {
    padding: 50px 150px 0 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FF5437;
}

.pricing__red {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 8px;
    color: #FF5437;
}

.pricing__text-red {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.pricing__btn-red {
    margin-bottom: 50px;
    padding: 12px 25px;
    border: 2px solid #FF5437;
    background: #FF5437;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.pricing__btn-red:hover {
    border: 2px solid #FF5437;
    color:#FF5437;
    background:  #F2F2F2;
    transition: 0.3s;
}

.pricing__title-orange {
    padding: 50px 150px 0 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FF9209;
}

.pricing__orange {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 8px;
    color: #FF9209;
}

.pricing__text-orange {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

.pricing__btn-orange {
    margin-bottom: 50px;
    padding: 12px 25px;
    border: 2px solid #FF9209;
    background: #FF9209;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.pricing__btn-orange:hover {
    border: 2px solid #FF9209;
    color:#FF9209;
    background:  #F2F2F2;
    transition: 0.3s;
}

/*   TESTI   */
.testi {
    background: #F2F2F2;
    text-align: center;
}

.testi h2 {
    margin: 0;
    padding-top: 100px;
}


.testi__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}


.testi__unit {
    margin: 0 15px 0 15px;
    background-color: white;
    border-radius: 20px;
}

.testi__text {
    padding: 30px 35px 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    max-width: 350px;
    text-align: left;
}

.testi__photo {
    display: flex;
    align-items: center;
    padding: 25px;
}

.testi__photo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1B1A1A;
    text-align: left;
    padding-left: 20px;
}

/*    DOWNLOAD   */

.download {
    text-align: center;
}

.download h2 {
    margin-top: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}

 .download h3 {
    margin: 5px 0 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}

.download span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.download p {
    margin: 25px 0 140px 0;
    cursor: pointer;
}


/*    FAQ    */

.faq {
    text-align: left;
    background: #E5E5E5;
}

.faq__item {
    padding: 40px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.faq__text {
   width: 50%;
   padding: 0 15px 0 0;
}

.faq h2 {
    padding-top: 105px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
}

.faq__text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}

.faq p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

/*   FOOTER   */

.footer {
    text-align: center;
}

.footer__logo {
    padding-top: 100px;
}
.footer a {
    padding: 25px 10px 35px 10px;
}

.footer span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B1B1B1;
    padding-bottom: 100px;
}

.footer strong {
    color: #666666;
}