/*   HEADER   */
.header {
    height: 90px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 25px 0 25px 32px;
}

.header__nav a {
    margin-right: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}

.header__nav a:hover {
    color: black;
    transition: .3s;
}

/*   HEDAER BUTTON    */
.header__btn {
    margin-right: 20px;
    padding: 10px 25px 12px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}

.header__btn:hover {
    color: black;
    background:  white;
    transition: .5s;
}


/*   SECTION SUB_HEADER    */
.sub__header-item {
    display: flex;
    align-items: center;
}

.sub__header-unit {
    width: 420px;
    margin:  0px 194px 0 78px;
}

.sub__header-unit h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222222; 
}

.sub__header-unit p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.sub__header-img {
    margin-top: 100px;
}